.why-us {
	position: relative;

	background: url('/logo-pattern-1.svg');
	background-size: 400px;

	box-shadow: inset 0 0 0 1000px rgba(12, 12, 12, 0.95);

	&__inner {
		display: flex;
		flex-direction: column;
		gap: $gap;
	}

	&__text {
		width: 75%;

		@include mobile {
			width: 100%;
		}
	}

	&__blocks {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: $gap;

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(6, 1fr);
		}
	}

	&__block {
		padding: $padding-inner;

		display: flex;
		flex-direction: column;
		gap: $gap;

		background-color: $color-surface-a0;
		border: 1px solid $color-primary-a0;
		border-radius: $border-radius;

		transition-duration: $transition-duration;

		&:hover {
			background-color: $color-primary-a10;
			color: #000;
		}
	}
}

.courses {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: $gap;
	}

	&__text {
		width: 75%;

		@include mobile {
			width: 100%;
		}
	}

	&__blocks {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: $gap;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(6, 1fr);
		}
	}

	&__block {
		background: $color-surface-a10;
		border-radius: $border-radius;

		&:nth-child(3n + 1) &-bg {
			background: $color-gradient-1;
		}

		&:nth-child(2n) &-bg {
			background: $color-gradient-2;
		}

		&:nth-child(4n) &-bg {
			background: $color-gradient-3;
		}

		&-bg {
			height: 200px;
			text-align: left;

			padding: $padding-inner;

			border-radius: $border-radius $border-radius 0 0;

			background: $color-gradient-4;

			// background-image: repeating-linear-gradient(150deg, rgba(255, 255, 255, .06), rgba(255, 255, 255, .06) 1px, transparent 0, transparent 41px), repeating-linear-gradient(-150deg, rgba(255, 255, 255, .06), rgba(255, 255, 255, .06) 1px, transparent 0, transparent 41px);

			// background-image: repeating-linear-gradient(150deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .03) 1px, transparent 0, transparent 41px), repeating-linear-gradient(-150deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .03) 1px, transparent 0, transparent 41px);
		}

		&-main {
			padding: $padding-inner;

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
			gap: $gap-small;
		}
	}
}

.articles {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__text {
		width: 75%;

		@include mobile {
			width: 100%;
		}
	}

	&__blocks {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 300px 1fr;
		gap: $gap-small;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: $gap-small;

		@include mobile {
			height: 500px;
		}

		border: 1px solid $color-surface-a10;

		&-main {
			display: flex;
			flex-direction: column;
			gap: 8px;

			padding: $padding-inner;
		}

		&-link {
			text-decoration: underline;
		}

		& img {
			height: 50%;
		}
	}

	&__block:first-child {
		grid-area: 1 / 1 / 2 / 4;

		flex-direction: row;

		@include tablet {
			grid-area: 1 / 1 / 2 / 2;
			flex-direction: column;
		}

		& img {
			height: 100%;

			@include tablet {
				height: 50%;

				width: auto;
			}

			@include mobile {
			}
		}
	}
}
