.header {
	height: 60px;

	display: flex;
	align-items: center;

	background-color: $color-surface-a0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		&-list {
			display: flex;
			gap: 16px;
		}

		&-item {
			list-style: none;
			position: relative;

			& a {
				display: block;
				height: 60px;
				line-height: 60px;

				padding: 0 32px;
			}

			& ul {
				position: absolute;
				left: 0;
				top: 100%;

				display: none;

				padding: 8px 0;

				width: 200px;

				background-color: $color-surface-a10;

				& li {
					padding: 8px 0;
				}

				& ul {
					display: none;
					position: absolute;
					top: 0;
					left: 100%;

					background-color: $color-surface-a20;
				}
			}
		}

		& li:hover {
			background-color: $color-surface-a10;

			& > ul {
				display: block;
			}
		}
	}
}
