.header {
	height: 60px;

	display: flex;
	align-items: center;

	background-color: $color-surface-a0;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
	}

	&__menu {
		&-list {
			display: flex;
			gap: 8px;
		}

		&-item {
			list-style: none;
			position: relative;

			& a {
				display: block;

				padding: 12px 24px;
			}

			& ul {
				position: absolute;
				left: 0;
				top: 100%;

				display: none;

				width: 350px;

				background-color: $color-surface-a10;

				// & ul {
				// 	display: none;
				// 	position: absolute;
				// 	top: 0;
				// 	left: 100%;

				// 	background-color: $color-surface-a20;
				// }
			}
		}

		&-link {
			height: 60px;
			line-height: 35px;
		}

		& li:hover {
			background-color: $color-surface-a10;

			& > ul {
				display: block;
			}
		}
	}
}
