/** Dark theme primary colors */
$color-primary-a0: #4ba3df;
$color-primary-a10: #66ade3;
$color-primary-a20: #7cb7e6;
$color-primary-a30: #91c1ea;
$color-primary-a40: #a4cbee;
$color-primary-a50: #b7d5f1;

$color-primary-a0-rgba: rgba(#4ba3df, 0.9);

$color-secondary-a0: #7e7ac2;
$color-secondary-a10: #8d88c9;
$color-secondary-a20: #9b96d0;
$color-secondary-a30: #a9a4d7;
$color-secondary-a40: #b8b3dd;
$color-secondary-a50: #c6c2e4;

/** Dark theme surface colors */
$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;

$font-family-accent: 'JetBrains Mono', monospace;
$font-family-base: 'Inter', serif;

$container-width: 1240px;
$padding-inner: 20px;

$section-padding-y: 80px;

$border-radius: 8px;

$transition-duration: 0.2s;
