/** Dark theme primary colors */
/** Dark theme surface colors */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a,
button,
input {
  cursor: pointer;
  transition-duration: 0.2s;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: white;
  background-color: #121212;
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 300;
  font-optical-sizing: auto;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "JetBrains Mono", monospace;
}

h1 {
  font-size: clamp(42px, 3.3333333333vw, 48px);
  font-weight: 700;
}

h2 {
  font-size: clamp(28px, 2.2222222222vw, 32px);
  font-weight: 500;
}

h3 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
  font-weight: 500;
}

h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
  font-weight: 500;
}

h5 {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: clamp(14px, 1.1111111111vw, 16px);
  font-weight: 300;
}
a:hover {
  color: #7cb7e6;
}
a.active {
  color: #4ba3df;
}

small {
  padding: 8px 12px;
  font-family: "JetBrains Mono", monospace;
  background-color: #282828;
  border: 1px solid #282828;
  border-radius: 8px;
}

button {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  background: none;
  border: none;
  transition-duration: 0.2s;
}

mark {
  padding-inline: 8px;
  background: rgba(75, 163, 223, 0.1);
  border-right: 2px solid #4ba3df;
  color: #4ba3df;
}

section {
  padding: 80px 0;
}

.container {
  margin-inline: auto;
  padding-inline: 20px;
  width: 100%;
  max-width: 1240px;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  padding: 16px 32px;
  color: #7cb7e6;
  border: 1px solid #4ba3df;
  border-radius: 8px;
}
.button:hover {
  color: #000;
  background: #4ba3df;
}
.button:active {
  background: #4ba3df;
}
.button--transparent {
  color: #000;
  background: #4ba3df;
}
.button--transparent:hover {
  background: rgba(75, 163, 223, 0.9);
}
.button--small {
  padding: 12px 24px;
}

.burger-button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background: none;
  position: relative;
}
.burger-button:hover {
  background-color: #3f3f3f;
}
.burger-button:active {
  background: #282828;
}
.burger-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 2px;
  background-color: #4ba3df;
  border-radius: 8px;
  box-shadow: 0 -8px #4ba3df, 0 8px #4ba3df;
}

.cross-button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background: none;
  position: relative;
}
.cross-button:hover {
  background-color: #3f3f3f;
}
.cross-button:active {
  background-color: #282828;
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  width: 50%;
  height: 2px;
  background-color: #4ba3df;
  border-radius: 8px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.header {
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #121212;
  border-bottom: 1px solid #282828;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header__menu-list {
  display: flex;
  gap: 8px;
}
.header__menu-item {
  list-style: none;
  position: relative;
}
.header__menu-item a {
  display: block;
  padding: 12px 24px;
}
.header__menu-item ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  width: 350px;
  background-color: #282828;
}
.header__menu-link {
  height: 60px;
  line-height: 35px;
}
.header__menu li:hover {
  background-color: #282828;
}
.header__menu li:hover > ul {
  display: block;
}

#modal {
  position: absolute;
  margin: auto;
  width: 100%;
  max-width: 425px;
  height: 100%;
  right: 0px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  padding-inline: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #282828;
  border: none;
  z-index: 10000;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.mobile-overlay__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 48px - 48px - 32px);
}
.mobile-overlay__body-list {
  display: flex;
  flex-direction: column;
}
.mobile-overlay__body-item {
  display: flex;
  width: 100%;
}
.mobile-overlay__body-link {
  padding: 1rem 0;
  width: 100%;
  color: #fff;
}

.intro {
  position: relative;
  background: linear-gradient(90deg, rgba(75, 163, 223, 0.01) 0%, rgb(18, 18, 18) 100%);
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  height: 100vh;
}
.intro__logo {
  position: absolute;
  top: 75px;
  right: 75px;
  z-index: -10;
  opacity: 0.5;
  height: 50%;
}
@media (max-width: 1023px) {
  .intro__logo {
    height: 35%;
  }
}
@media (max-width: 767px) {
  .intro__logo {
    right: 50px;
    height: 25%;
  }
}
.why-us {
  position: relative;
  background: url("/logo-pattern-1.svg");
  background-size: 400px;
  box-shadow: inset 0 0 0 1000px rgba(12, 12, 12, 0.95);
}
.why-us__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.why-us__text {
  width: 75%;
}
@media (max-width: 767px) {
  .why-us__text {
    width: 100%;
  }
}
.why-us__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
}
@media (max-width: 767px) {
  .why-us__blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.why-us__block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #121212;
  border: 1px solid #4ba3df;
  border-radius: 8px;
  transition-duration: 0.2s;
}
.why-us__block:hover {
  background-color: #66ade3;
  color: #000;
}

.courses__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.courses__text {
  width: 75%;
}
@media (max-width: 767px) {
  .courses__text {
    width: 100%;
  }
}
.courses__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1023px) {
  .courses__blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .courses__blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.courses__block {
  background: #282828;
  border-radius: 8px;
}
.courses__block-bg {
  position: relative;
  height: 200px;
  text-align: left;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  background: #3f3f3f;
}
.courses__block-bg.GIT {
  background: linear-gradient(120deg, hsl(216, 96%, 56%) 0%, hsl(178, 64%, 65%) 100%);
}
.courses__block-bg.JS {
  background: linear-gradient(-90deg, hsl(197, 100%, 63%) 0%, hsl(294, 100%, 55%) 100%);
}
.courses__block-bg.HTML-CSS {
  background: linear-gradient(135deg, hsl(333, 100%, 53%) 0%, hsl(33, 94%, 57%) 100%);
}
.courses__block-bg.NODEJS {
  background: linear-gradient(90deg, hsl(152, 100%, 50%) 0%, hsl(186, 100%, 69%) 100%);
}
.courses__block-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.courses__block-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
}

.articles {
  background-color: #18213f;
  background-image: repeating-linear-gradient(150deg, rgba(22, 93, 249, 0.15), rgba(22, 93, 249, 0.15) 1px, transparent 0, transparent 41px), repeating-linear-gradient(-150deg, rgba(22, 93, 249, 0.15), rgba(22, 93, 249, 0.15) 1px, transparent 0, transparent 41px);
}
.articles__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.articles__text {
  width: 75%;
}
@media (max-width: 767px) {
  .articles__text {
    width: 100%;
  }
}
.articles__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 1fr;
  gap: 16px;
}
@media (max-width: 1023px) {
  .articles__blocks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .articles__blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.articles__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #121212;
  border: 1px solid #282828;
}
@media (max-width: 767px) {
  .articles__block {
    height: 500px;
  }
}
.articles__block-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.articles__block-link {
  text-decoration: underline;
}
.articles__block img {
  height: 50%;
}
.articles__block:first-child {
  grid-area: 1/1/2/4;
  flex-direction: row;
}
@media (max-width: 1023px) {
  .articles__block:first-child {
    grid-area: 1/1/2/2;
    flex-direction: column;
  }
}
.articles__block:first-child img {
  height: 100%;
}
@media (max-width: 1023px) {
  .articles__block:first-child img {
    height: 50%;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */